
:root{
    --site-width: 1200px;
    --text-color: white;
    --blue: #5f96cc;
    --orange: #b48502;
    --grey: #333;
    --white: white;
    --box-min-height: 250px;
    --box-max-height: 700px;
    --box-gap: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--text-color);
    font-size: 11pt;

}

a{
    color: var(--orange);
    text-decoration: none;
    cursor: pointer;
}

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--blue);
}
