
:root{
    --site-width: 1200px;
    --text-color: white;
    --blue: #508BC4;
    --orange: #FD8F0F;
    --light-orange: #FFC572;
    --grey: #333;
    --white: white;
    --box-min-height: 200px;
    --box-max-height: 700px;
    --box-gap: 10px;
    color: var(--text-color);
    font-size: 11pt;
}

a{
    color: var(--orange);
    text-decoration: none;
    cursor: pointer;
}


html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--blue);
    font-family: "Source Sans 3", sans-serif;
    height: 100%;
}

/* stylize scroll bar at html element */
html::-webkit-scrollbar {
    width: 7px;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
    background: var(--white);
}
